<a href="https://colab.research.google.com/github/andrethydavid/Archivo/blob/master/pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [18]:
df_estilos = pd.read_csv('/content/Pokemon.csv',sep=',',header=0)

In [19]:
df_estilos[0:4]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False


### Loc

In [20]:
df_estilos.loc[:]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### Filtrar por columnas

In [43]:
df_estilos[['Name','Legendary']]

                      Name  Legendary
0                Bulbasaur      False
1                  Ivysaur      False
2                 Venusaur      False
3    VenusaurMega Venusaur      False
4               Charmander      False
..                     ...        ...
795                Diancie       True
796    DiancieMega Diancie       True
797    HoopaHoopa Confined       True
798     HoopaHoopa Unbound       True
799              Volcanion       True

[800 rows x 2 columns]

In [46]:
df_estilos.loc[0:4, ['Name','Legendary']]

                    Name  Legendary
0              Bulbasaur      False
1                Ivysaur      False
2               Venusaur      False
3  VenusaurMega Venusaur      False
4             Charmander      False

In [48]:
df_estilos.loc[:, ['Speed']] * -1

     Speed
0      -45
1      -60
2      -80
3      -80
4      -65
..     ...
795    -50
796   -110
797    -70
798    -80
799    -70

[800 rows x 1 columns]

### Iloc

In [49]:
df_estilos.iloc[:,0:3]

       #                   Name   Type 1
0      1              Bulbasaur    Grass
1      2                Ivysaur    Grass
2      3               Venusaur    Grass
3      3  VenusaurMega Venusaur    Grass
4      4             Charmander     Fire
..   ...                    ...      ...
795  719                Diancie     Rock
796  719    DiancieMega Diancie     Rock
797  720    HoopaHoopa Confined  Psychic
798  720     HoopaHoopa Unbound  Psychic
799  721              Volcanion     Fire

[800 rows x 3 columns]

In [50]:
df_estilos.iloc[1,3] * -1

''